## Palabras

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [6]:
uppercase_words = [word.upper() for word in words]
print("Palabras con todas las letras en mayuscula:", uppercase_words)

Palabras con todas las letras en mayuscula: ['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Crea una nueva lista que contenga 5 o más letras**

In [11]:
long_words = [word for word in words if len(word) >= 5]
print("Palabras con 5 o más letras:", long_words)

Palabras con 5 o más letras: ['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [13]:
first_word_t = next((word for word in words if word.startswith('t')), None)
print("Primera palabra que empieza por t:", first_word_t)

Primera palabra que empieza por t: theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [14]:
squares = [num**2 for num in range(1,11)]
print("Cuadrados de numeros entre 1 y 10:", squares)

Cuadrados de numeros entre 1 y 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [17]:
squares_odd_numbers = [num**2 for num in range(1,11) if num % 2 != 0]
print("Cuadrados de numeros impares entre 1 y 10:", squares_odd_numbers)

Cuadrados de numeros impares entre 1 y 10: [1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [22]:
multiples_8_squares = [num**2 for num in range(8, 1000, 8)]
print("Cuadrados de multiplos de 8 por debajo de 1000:", multiples_8_squares)

Cuadrados de multiplos de 8 por debajo de 1000: [64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [23]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [24]:
total_people = len(people)
print("El total de personas es:", total_people)

El total de personas es: 5

**Cuanta gente tiene hijos**?

In [26]:
people_with_kids = sum(1 for person in people if person["n_kids"] > 0)
print("El total de personas con hijos:", people_with_kids)

El total de personas con hijos: 4

**Cuantos hijos tienen en total?**

In [28]:
total_kids = sum(person["n_kids"] for person in people)
print("El total de hijos es:", total_kids)

El total de hijos es: 10

#En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año

In [32]:
people_in_a_year = [
    {
        "name": person["name"],
        "age": person["age"] + 1,  # La edad en un año
        "n_kids": person["n_kids"] + 1 if person["name"].endswith("a") else person["n_kids"]  # Incrementamos de 1 n_kids si el nombre termina en "a"
    }
    for person in people
]

print("Personas en un año:", people_in_a_year)

Personas en un año: [{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]